body {
    /* background-color:#ebebeb; */
    padding: 100px;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#vermas {
    display: block;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: revert; */
    align-items: center;
}

.mt-2, .my-2 {
    width: 100%;
}